.section {
  overflow: hidden;
}

header {
  height: auto;
}

.area-top {
  padding: 16px 0;
  text-align: center;
  overflow: hidden;
}
.area-top a {
  padding: 5px 20px;
  margin: 0 auto;
  line-height: 36px;
  border-radius: 20px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  background: url("./images/titie-btn.jpg") no-repeat center;
  background-size: 100% auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.area-conter-top {
  display: block;
  height: 62px;
  text-align: center;
}
.area-conter-top .area-conter-left {
  width: 50%;
  height: 72px;
  float: left;
  background: #f4e5c4;
}
.area-conter-top .area-conter-left .area-coat {
  width: 50%;
  height: 72px;
  background: #f2f2f2;
}
.area-conter-top .area-conter-left .area-coat {
  position: relative;
  padding: 10px 10px 0 10px;
  float: left;
  background: #f2f2f2;
}
.area-conter-top .area-conter-left .area-coat .area-number {
  width: 24px;
  height: 17px;
  margin: 0 auto;
  background: url("./images/icon-dev.jpg") no-repeat;
  background-size: cover;
}
.area-conter-top .area-conter-left .area-coat p {
  padding-top: 10px;
  color: #362e2b;
  font-size: 14px;
}
.area-conter-top .area-conter-left .area-coat i {
  position: absolute;
  top: 15px;
  right: -7px;
  width: 12px;
  height: 17px;
  background: url("./images/icon-arrow.jpg") no-repeat center;
  background-size: cover;
}
.area-conter-top .area-conter-left .area-character {
  height: 72px;
  overflow: hidden;
  background: url("./images/delicious-food.jpg") no-repeat;
  background-position: center;
  background-size: auto 100%;
}
.area-conter-top .area-conter-left .area-healthcare {
  width: 100%;
  height: 72px;
  line-height: 72px;
  text-align: center;
  float: left;
  color: #fff;
  font-size: 14px;
  background: #b2863e;
}
.area-conter-top .area-conter-left .area-coat-three {
  background: #b2863e;
}
.area-conter-top .area-conter-left .area-coat-three p {
  color: #fff;
}
.area-conter-top .area-conter-left .area-coat-three .area-number {
  background: url("./images/icon-dev2.jpg") no-repeat;
  background-size: cover;
}
.area-conter-top .area-conter-left .area-coat-three i {
  background: url("./images/icon-arrow-blue.jpg") no-repeat center;
  background-size: cover;
}
.area-conter-top .area-conter-left .area-coat-one {
  background: #b2863e;
}
.area-conter-top .area-conter-left .area-coat-one p {
  color: #fff;
}
.area-conter-top .area-conter-left .area-coat-one .area-number {
  background: url("./images/icon-dev3.jpg") no-repeat;
  background-size: cover;
}
.area-conter-top .area-conter-left .area-coat-one i {
  background: url("./images/icon-arrow-red.jpg") no-repeat center;
  background-size: cover;
}
.area-conter-top .area-conter-left .area-coat-san i {
  background: url("./images/icon-arrow-red5.jpg") no-repeat center;
  background-size: cover;
}
.area-conter-top .area-conter-left .area-coat-san .area-number {
  background: url("./images/icon-dev4.jpg") no-repeat;
  background-size: cover;
}
.area-conter-top .area-conter-left .area-coat-five .area-number {
  background: url("./images/icon-dev5.jpg") no-repeat;
  background-size: cover;
}
.area-conter-top .area-conter-right {
  width: 50%;
  height: 72px;
  float: left;
  overflow: hidden;
  background: #b2863e;
}
.area-conter-top .area-conter-right .area-coat-underside {
  width: 50%;
  height: 72px;
}
.area-conter-top .area-conter-right .area-coat-underside .area-character {
  width: 100%;
  float: left;
  overflow: hidden;
  background: url("./images/delicious-food.jpg") no-repeat;
  background-position: center;
  background-size: auto 100%;
}

.area-title {
  background: url("./images/source-backroung.jpg") no-repeat;
  background-size: 100%;
}
.area-title .area-btn {
  padding: 35px 0 16px;
  text-align: center;
  overflow: hidden;
}
.area-title .area-btn a {
  padding: 5px 20px;
  line-height: 36px;
  border-radius: 20px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  background: url("./images/qr-code1.jpg") no-repeat center;
  background-size: 100% auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.area-title .area-footer {
  position: relative;
  width: 300px;
  height: 135px;
  margin: 0 auto 20px;
  overflow: hidden;
  background: url("./images/eillet-linkage-er.jpg") no-repeat;
  background-size: 100%;
}
.area-title .area-footer a {
  color: #362e2b;
}
.area-title .area-footer li {
  position: absolute;
  width: 43px;
  line-height: 20px;
}
.area-title .area-footer li:nth-of-type(1) {
  top: 26px;
  left: 0;
  width: 84px;
  text-align: center;
}
.area-title .area-footer li:nth-of-type(1) h3 {
  color: #fff;
  font-size: 16px;
}
.area-title .area-footer li:nth-of-type(1) p {
  color: #fff;
  font-size: 12px;
}
.area-title .area-footer li:nth-of-type(2) {
  top: 21px;
  left: 50%;
  margin-left: -27px;
}
.area-title .area-footer li:nth-of-type(3) {
  left: 50%;
  top: 125px;
  text-align: center;
  margin-top: -47px;
  margin-left: 8px;
}
.area-title .area-footer li:nth-of-type(4) {
  left: 50%;
  top: 125px;
  text-align: center;
  margin-top: -82px;
  margin-left: 38px;
}
.area-title .area-footer li:nth-of-type(5) {
  top: 19px;
  right: 0;
}

.area-planting {
  position: relative;
  padding: 0 10px;
  overflow: hidden;
}
.area-planting img {
  width: 100%;
  margin-bottom: 40px;
}
.area-planting .dot {
  display: block;
  position: absolute;
  overflow: hidden;
  left: 50%;
  bottom: 15px;
  margin-left: -47px;
}
.area-planting .dot div {
  width: 10px;
  height: 10px;
  margin-left: 8px;
  float: left;
  border-radius: 15px;
  background: #d5bd98;
}
.area-planting .dot div.on {
  width: 12px;
  height: 12px;
  background: #b2863e;
}

.area-eour {
  padding: 15px 15px 20px 15px;
  margin: 0 10px 30px 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  text-indent: 15px;
  font-size: 13px;
  background: #fff;
}
.area-eour p {
  color: #362e2b;
}
.area-eour p:nth-of-type(2) {
  padding-top: 15px;
}
.area-eour p:nth-of-type(3) {
  padding-top: 15px;
}
.area-eour span {
  color: #b2863e;
}

.area-footer-bottom {
  padding: 25px 0 20px;
  text-align: center;
  background: #f0e8dd;
}
.area-footer-bottom .area-footer-top img {
  width: 85px;
  height: 85px;
}
.area-footer-bottom .area-center-footer {
  padding-top: 10px;
  font-size: 12px;
  color: #b2863e;
  line-height: 18px;
}
.area-footer-bottom .area-footer-icon {
  width: 88px;
  height: 12px;
  margin: 20px auto;
  background: url("./images/dixiang.jpg") no-repeat center;
  background-size: 100%;
}
.area-footer-bottom .area-footer-family {
  padding: 0 30px;
  overflow: hidden;
}
.area-footer-bottom .area-footer-family p {
  font-size: 12px;
  color: #b29b74;
}

/*# sourceMappingURL=style.css.map */
