a {
    text-decoration: none;
}

img {
    transition: transform .5s;

    &:hover {
        transform: scale(1.05);
    }
}

.global-header-nav-box {
    background-color: #f3f3f3;
}

.cost-effective-banner {
    width: 1200px;
    margin: 0 auto 50px;
    img {
        width: 100%;
    }
}

.channel-nav-banner {
    margin-bottom: 30px;
    background: #aa2116;

    ul {
        overflow: hidden;

        li {
            width: 150px;
            padding: 0 10px;
            float: left;

            a {
                display: block;
                height: 55px;
                line-height: 60px;
                text-align: center;
                font-size: 14px;
                color: #fff;

                &:hover {
                    //border-bottom: 5px solid #c4645c;
                    text-decoration: none;
                }
            }
        }

        .icon-house {

            padding-left: 25px;
            font-size: 16px;
            //background: url(images/icon_pics.png) -5px -189px no-repeat;
            &.active {
                //background-color: #40a126;
            }
        }

        .active {
            height: 60px;
            //background-color: #40a126;

            &:hover {
                //border-bottom: 0;
            }
        }
    }
}

.nav-center {
    width: 1200px;
    margin: 0 auto;
    text-align: left;
}

.query-cate {
    position: relative;
    border: 1px solid #e6e6e6;
    clear: both;
    background: #fafafa;

    &::before {
        position: absolute;
        top: -1px;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
        content: '';
        opacity: 0;
        border: 1px solid #e64322;
        transition: opacity .5s;
    }

    &:hover {
        &::before {
            opacity: 1;
        }
    }

    .query-types {
        position: relative;
        z-index: 1;
        margin: 0 1px;
        margin-top: -1px;

        a {
            display: block;
            width: 170px;
            float: left;
            cursor: pointer;
            border-top: 1px solid transparent;
            font-size: 15px;
            color: #444444;
            line-height: 41px;
            text-align: center;

            &.on {
                color: #e64322;
                border-top: 1px solid #e64322;
                font-weight: bold;
                background: white;

            }
        }
    }

    .query-content {
        position: relative;
        z-index: 1;
        padding: 10px 0 10px 32px;
        margin: 1px;
        margin-top: 0;
        clear: both;
        background: white;

        ul {
            overflow: hidden;

            li {
                float: left;
            }

            em {
                padding-right: 10px;
                display: block;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }

        .disease-list {
            li {
                width: 8.3333%;
            }
        }

        .single-line-list {
            li {
                margin-right: 10px;
            }
        }

        .multi-line-list {
            li {
                width: 10%;
            }
        }

        a {
            font-size: 14px;
            color: #444444;
            line-height: 2;

            &:hover {
                color: #e64322;
            }
        }

        dl {
            overflow: hidden;

            dt {
                width: 74px;
                margin-top: 3px;
                float: left;
                border-radius: 3px;
                font-size: 14px;
                text-align: center;
                line-height: 22px;
                color: white;

                &.bg-red {
                    background-color: #e64322;
                }

                &.bg-gray {
                    background-color: #808080;
                }
            }

            dd {
                margin-left: 95px;
            }
        }
    }
}

.region-cneter {
    width: 1200px;
    margin: 40px auto;
    //overflow: hidden;

    .region-left {
        position: relative;
        width: 850px;
        height: 340px;
        float: left;

        .region-top {
            overflow: hidden;
        }

        .region-bottom {
            display: block;
            position: absolute;
            left: 0;
            bottom: 0;
            height: 70px;
            padding: 20px 90px 20px 30px;
            color: #fff;
            background: #818181;
            background: rgba(111, 85, 81, 0.8);

            a {
                font-size: 24px;
                color: #fff;
                font-weight: bold;
                text-decoration: none;
            }

            p {
                display: block;
                line-height: 25px;
                font-size: 14px;
            }

            i {
                display: block;
                position: absolute;
                top: 50%;
                right: 30px;
                width: 28px;
                height: 26px;
                background: url("./images/icon-dev.png") no-repeat;
            }
        }
    }

    .cont-title {
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -50px;
        margin-top: -20px;
        font-weight: bold;
        color: #D4584E;
        background-color: #fff;
    }

    .area-cont {
        position: relative;
        border: 1px solid #dadada;
    }

    .content-scandal {
        width: 258px;
        padding: 40px 20px 26px 20px;
        float: right;

        &::before {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            z-index: -1;
            content: '';
            border-top: 1px solid #e64322;
            transform: scale(0);
            transition: transform .3s ease .3s;
        }

        &::after {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: -1;
            content: '';
            height: 0;
            border: 1px solid #e64322;
            border-top: 0;
            border-bottom: 0;
            transition: height .3s ease .6s;
        }

        &.enter {
            border-top-color: transparent;
            border-left-color: transparent;
            border-right-color: transparent;
        }

        &.leave {
            &::before {
                transition: transform .3s ease .6s;
            }

            &::after {
                transition: height .3s ease .3s;
            }
        }

        &:hover {
            &::before {
                transform: scale(1);
                background: red;
            }

            &::after {
                height: 100%;
                transform: translateY(0);
            }
        }

        .cont-title {
            width: 105px;
            height: 35px;
            background: url(images/title.jpg) no-repeat;
            background-color: #fff;
        }

        li {
            position: relative;
            height: 34px;
            line-height: 34px;
            padding-left: 34px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            i {
                display: block;
                position: absolute;
                left: 0;
                top: 50%;
                width: 26px;
                height: 26px;
                margin-top: -13px;
                background: url(./images/icon-sort.png) no-repeat;
            }

            a {
                text-decoration: none;
                font-size: 15px;
                color: #333;

                &:hover {
                    color: #e64322;
                }
            }
        }

        .no1 {
            i {
                background-position: 0 0px;
            }
        }

        .no2 {
            i {
                background-position: 0 -36px;
            }
        }

        .no3 {
            i {
                background-position: 0 -72px;
            }
        }

        .no4 {
            i {
                background-position: 0 -108px;
            }
        }

        .no5 {
            i {
                background-position: 0 -144px;
            }
        }

        .no6 {
            i {
                background-position: 0 -180px;
            }
        }

        .no7 {
            i {
                background-position: 0 -216px;
            }
        }

        .no8 {
            i {
                background-position: 0 -252px;
            }
        }
    }
}

.ewo-max {
    width: 1200px;
    margin: auto;

    .ewo-max-left {
        width: 850px;
        float: left;

        .ewo-max-top {
            padding: 40px 0 0px 0;
            font-size: 34px;

            .headlines {
                display: block;
                float: left;
                color: #aa2116;
                text-decoration: none;
            }

            b {
                font-size: 34px;
            }
        }
        .ewo-max-center {
            padding: 20px 0 30px 0;
            font-size: 16px;
            color: #999999;

            a {
                color: #d4584e;
                text-decoration: none;
            }
        }
    }

    .ewo-max-right {
        width: 300px;
        margin-top: 40px;
        float: right;
        overflow: hidden;
    }

    .tl-list-change {

        .tl-list-change-left {
            line-height: 32px;
            float: left;
        }

        .tl-list-change-right {
            line-height: 32px;
            float: right;
        }

        em {
            padding-left: 15px;
            display: block;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            background: url(./images/iocn-devsuchi.jpg) no-repeat 0 -51px;

            a {
                display: block;
                font-size: 16px;
                color: #444;
                white-space: nowrap;
                text-decoration: none;
            }

            &.on,
            &:hover {
                padding-left: 33px;
                background-position: 0 8px;

                a {
                    color: #d4584e;
                }
            }
        }

        nobr {
            color: #d4584e;
        }

        &.no-change {
            em {
                &.on,
                &:hover {
                    padding-left: 15px;
                    background-position: 0 -51px;
                }
            }
        }

        &.video-li {
            em {
                padding-left: 25px;
                background: url(./images/icon-v-list.png) no-repeat 0 9px;

                &.on,
                &:hover {
                    padding-left: 25px;
                    background-position: 0 -55px;
                }
            }
        }

        &.first-icon {
            em {
                padding-left: 25px;
                background-position: 5px -51px;

                &:hover {
                    padding-left: 25px;
                    background-position: 5px -51px;
                }
            }

            li:first-child {
                em {
                    background: url(./images/icon-square-red.png) no-repeat 0 center;
                }
            }
        }
    }

    &:after {
        display: block;
        content: "";
        clear: both;
        height: 0;
        visibility: hidden;
        zoom: 1;
    }
}

.bill-board {
    display: block;
    width: 1200px;
    overflow: hidden;
    margin: 50px auto 100px;

    img {

    }

}

.center-height {
    height: 1200px;
    background: #fff;
}

.list-public {

    li {
        position: relative;
        height: 32px;
        line-height: 32px;
        padding-left: 15px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        &:hover {
            padding-left: 30px;

            a {
                color: #c0353a;
            }

            i {
                width: 22px;
                height: 17px;
                margin-top: -8px;
                background: url(images/sm_icons.png) -4px -1px no-repeat;
            }
        }

        a {
            text-decoration: none;
            font-size: 16px;
            color: #333;
        }

        i {
            display: block;
            position: absolute;
            left: 0px;
            top: 50%;
            width: 4px;
            height: 4px;
            margin-top: -2px;
            background: #937030;
        }
    }
}

.list-gallery-area {
    padding-bottom: 30px;
    margin-bottom: 50px;
    background: #f7f7f7;

    .diease-area-title {
        dl {
            margin-top: -10px;
            background: transparent;
        }

        ul {
            border-top: 0;
        }
    }

    .gallery {
        width: 1300px;

        li {
            padding: 15px 15px;
            float: left;
            margin-left: -15px;
            margin-right: 27px;

            &:hover {
                box-shadow: 0 4px 12px 0 rgba(0, 0, 0, .1);
                background: #fff;

                p {
                    color: #c0353a;

                    &:hover {
                        color: #7d1f0b;
                    }
                }
            }
        }

        p {
            width: 165px;
            height: 20px;
            text-align: center;
            overflow: hidden;
            white-space: nowrap;
            font-size: 15px;
            color: #333;
        }

        i {
            display: block;
            width: 165px;
            height: 220px;
            margin-bottom: 15px;
            overflow: hidden;
        }

        img {
            width: 100%;
        }
    }
}

.hot-link {
    margin-bottom: 50px;
    background-color: #f5f5f5;

    ul {
        &:after {
            display: block;
            content: '';
            clear: both;
        }
    }

    li {
        margin-right: 20px;
        margin-bottom: 15px;
        float: left;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 14px;

        a {
            color: grey;

            &:hover {
                color: #c0353a;
            }
        }
    }

    .link-list {
        margin-bottom: 15px;
        overflow: hidden;

        li {
            width: 10%;
            margin-right: 0;
        }
    }

    .hot-article {
        li {
            width: 25%;
        }
    }

    .hot-hos {
        li {
            width: 14%;
        }
    }

    .hot-link-wrap {
        width: 1200px;
        padding: 40px 0 25px;
        margin: 0 auto 0px;
    }

    .link-tabs {
        overflow: hidden;
        margin-bottom: 25px;

        a {
            display: block;
            width: 120px;
            height: 40px;
            line-height: 40px;
            margin-right: 3px;
            float: left;
            text-align: center;
            font-size: 16px;
            color: #333;
            background: #fff;

            &:hover {
                color: #c0353a;

                &.on {
                    background: #c0353a;
                }
            }

            &.on {
                color: #fff;
                background: #333333;
            }
        }

        .link-friend {
            padding-left: 18px;
            color: #c0353a;
            background-image: url(images/sm_icons.png);
            background-repeat: no-repeat;
            background-position: 16px -45px;

            &:hover {
                color: #7d1f0b;
            }
        }
    }
}

.today-advice {
    width: 1200px;
    margin: 0 auto 50px;

    &:after {
        display: block;
        content: '';
        clear: both;
    }

    li {
        a {
            font-size: 15px;
        }
    }

    .cont-title {
        margin-bottom: 20px;
        display: block;
        font-size: 22px;
        font-weight: normal;
        color: #333;
    }

    .advice-main {
        width: 818px;
        padding: 20px 0px 15px 30px;
        float: left;
        border: 1px solid #ddd;
        border-top: 3px solid #333;

        ul {
            width: 365px;
            margin-right: 35px;
            float: left;
        }
    }

    .advice-side {
        width: 300px;
        float: right;

        dl {
            border: 1px solid #ddd;
        }

        dt {
            padding: 15px 25px;
            margin-bottom: 15px;
            border-bottom: 1px solid #ddd;
            font-size: 16px;
            color: #333;
            background: url(images/sm_icons.png) -1px -115px no-repeat;
        }

        dd {
            padding: 0 10px;
            font-size: 14px;

            a {
                padding-left: 5px;
                color: #333;

                &:hover {
                    color: #c0353a;
                }
            }
        }

        ul {
            overflow: hidden;
            border-bottom: 1px solid #ddd;
        }

        li {
            width: 50%;
            margin-left: -1px;
            margin-bottom: 15px;
            float: left;
            border-left: 1px solid #ddd;
        }
    }

    .baidu-search {
        position: relative;
        padding: 20px 0;
        overflow: hidden;

        input {
            float: left;
            font-size: 16px;
        }

        .inp-txt {
            width: 184px;
            height: 30px;
            line-height: 30px;
            padding-left: 10px;
            border: 1px solid #ddd;
            font-size: 15px;
        }

        .inp-btn {
            width: 80px;
            height: 34px;
            line-height: 34px;
            border: 0;
            text-align: center;
            color: #fff;
            background: #3388ff;
        }
    }
}













